body {
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #fafafa;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

h1 {
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    color: #777373;
}

p {
    color:#777373;
    font-size: 20px;
    line-height: 26px;
}
.task1,
.task2, 
.task3,
.task4  {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

button {
    margin-left: 60px;
    width: 120px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    background-color: #2f68d3;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    background-image:none;
    box-shadow: none;
}

button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

button:active, button:focus {
    outline: none;
    border: none;
}
